extends layout
include mixins/_accountNav
block content
    -//+accountNav()
    .page-header
        h1 Edit profile
    .main-card
        h2=title
        form(action=url("account") method="POST")
            .form-group  
                label(for="name") #{label('page.account.form.name')}
                input.form-control(type="text" name="name" value=user.name)
            .form-group  
                label(for="email") #{label('page.account.form.email')}
                input.form-control(type="email" name="email" value=user.email)
            .form-group  
                label(for="language") #{label('page.account.form.language')}
                select.form-control(name="language" value=user.language)
                    option(value= selected=user.language==null)
                    option(value="cy" selected=user.language=="cy") #{label('forms.language.cy.long')}
                    option(value="en" selected=user.language=="en") #{label('forms.language.en.long')}
            input.btn.btn-primary(type="submit" value=`${label('page.account.form.save')}`) 