extends layout
include mixins/_storeCard
include mixins/_pagination
include mixins/_regionSelect

block content

    -//pre=h.dump(places)
    
    //- .filter.page-header
    //-     a.badge(href=`/places` class=(currentRegion!=null ? 'badge-secondary' : '')) #{label('page.places.regions.all')}
    //-     each region in regions
    //-         a.badge(href=`/places/${region.id}` class=(currentRegion!=region.id ? 'badge-secondary' : '')) #{h.localise(region.shortName)}

    .page-header.page-menu
        .dropdown
            button.btn.btn-secondary.dropdown-toggle(id="dropDownRegion" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Region: #{currentRegion ? localise(currentRegion.shortName) : 'all'}
            .dropdown-menu( aria-labelledby="dropdownMenuButton")
                a.dropdown-item(href=url("places")) all
                each region in regions
                    a.dropdown-item(href=url(`places/${region.id}`)) #{localise(region.name)}
        a.btn.btn-primary(href=url("places/new/location") data-role="button") Add place

    .places.main-card
        table.table.table-striped
            thead
                tr
                    th(scope="col") #{label('page.places.th.name')}
                    th(scope="col") #{label('page.places.th.summary')}
                    th(scope="col") #{label('page.places.th.region')}
            tbody
                each place in places
                    tr
                        td 
                            a(href=url(`/place/${localise(place.slug,{indicateFallbackLanguage:false})}`)) #{localise(place.name)} 
                            //- if user                         
                            //-     a(href=`/places/${place._id}/edit`) edit                        
                        td #{localise(place.summary)}
                        td 
                            a(href=url(`places/${place.region}`)) #{place.region}

        if places.length===0
            p #{label('page.places.none')}                

block pageScripts
    script.
        

        JsFunctions.bob();