extends layout
include mixins/_reviewForm
include mixins/_review
include mixins/_placeEditNav
block content   
    .page-header
        h2.title.title--single #{localise(place.name)}
    +placeEditNav(place,"summary")
    

    .main-card
        p #{localise(place.summary)}
        if place.google && place.google.url
            a(href=`${place.google.url}` target="_blank")
                img.single__map(src=h.staticMap(place.location.coordinates))
        else
            img.single__map(src=h.staticMap(place.location.coordinates))

        p.single__location= place.location.address

        if place.description
            h2 #{label('page.place.show.more')}
            p= localise(place.description)

        if place.link
            h3 #{label('page.place.show.website')}
            a(href=`${place.link}` target="_blank") #{place.link}
        