mixin bilingualText(heading,name, field={en:"", cy: ""}, hint)
    h4 #{heading} 
    if hint                           
        p.hint #{hint}
    .form-group 
        span.input-addon #{label('forms.language.en.short')}
        input.form-control(type="text" id=`${name}.en` name=`${name}[en]` value=(field && field.en))                    
    .form-group 
        span.input-addon #{label('forms.language.cy.short')}
        input.form-control(type="text" id=`${name}.cy` name=`${name}[cy]` value=(field && field.cy))
                
