mixin bilingualText(heading,name, field, hint)
    .form-section
        h4 #{heading} 
        if hint                           
            p.hint.form-text.text-muted #{hint}
        each language in languages
            .input-group.form-group
                span.input-group-addon #{label(`forms.language.${language}.short`)}
                input.form-control(type="text" id=`${name}.${language}` name=`${name}[${language}]` value=(field && field[language]))                    
                    
