mixin placeEditNav(place,currentPage)
    if user
        ul.nav.nav-tabs
            li.nav-item
                a.nav-link(href=url(`/place/${localiseWithoutWarnings(place.slug)}`) class=`${currentPage==="summary" ? 'active' : ''}`) #{label('page.place.show.nav.public')}
            li.nav-item
                a.nav-link(href=url(`/places/${place._id}/editDetails`) class=`${currentPage==="details" ? 'active' : ''}`) #{label('page.place.show.nav.details')}
            li.nav-item
                a.nav-link(href=url(`/places/${place._id}/editLocation`) class=`${currentPage==="location" ? 'active' : ''}`) #{label('page.place.show.nav.location')}                               