include _regionSelect
mixin placeFormFriendly(place ={})
    form(action=`/places/add/${place._id || ''}` method="POST" class="card" enctype="multipart/form-data")
        .step
            h1 Step 1 - Find the place
            .input-group
                span.input-addon Location
                input(type="text" id="address" name="location[address]" value=(place.location && place.location.address) placeholder="Start typing..." required)
            a(href="#") Can't find what you're looking for?
        .step
            h1 Step 2 - set a title and summary
            p Keep the summary short, say 15 words or less.
            .input-group
                span.input-addon Title                             
                input(type="text" name="name" value=place.name required)
            .input-group
                span.input-addon Summary
                input(type="text" name="summary" required value=place.summary)
        .step
            h1 Step 3 - Pick a region
            +regionSelect(place)
        .step
            h1 Step 4 - Optional extras
            label(for="description") More details
            textarea(name="description")= place.description
            label(for="link") Do they have a website?
            input(type="text" name="link" value=place.link)
            
        
        .step 
            h1 Dev stuff
                //-lat and long
            label(for="lng") Address lng
            input(type="text" id="lng" name="location[coordinates][0]" value=(place.location && place.location.coordinates[0]) required)
            label(for="lat") Address lat
            input(type="text" id="lat" name="location[coordinates][1]" value=(place.location && place.location.coordinates[1]) required)
            label(for="googleUrl") Google Url
            input(type="text" id="googleUrl" name="googleUrl" value=(place.googleUrl))

        input(type="submit" value="Save" class="button")