mixin regionSelect(place ={})                
    .input-field
        h4 #{label('forms.region')}
        a(href="/help/region" target="_blank") [help]
        .form-group     
            select.form-control(id="region" name="region" value=place.region required)
                option(value=)
                each region in regions
                    option(value=region.id selected=region.id===place.region) #{h.localise(region.name)}
                    